@import url("./reset.css");


/* .block{
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   gap: 10px;
}


.input{
   border: 1px solid #000;
} */
