.wrapp {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.get-ip-button {
    background-color: rgb(10, 198, 198);
    color: white;
    padding: 10px 40px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        background-color: rgb(228, 71, 43);
        transition: all 0.3s;
    }
}
.app {
    font-size: 20px;
    line-height: 31px;
}
